@media screen and (max-width:576px) {

    nav {
        display: flex;
    }

    .menu-item {
        display: none;
    }

    .logo-section img {
        display: flex;
        justify-content: left;
        align-items: left;
    }

    #menu-icon {
        display: block;
        color: #131318;
        font-size: 24px;
        font-weight: 800;
    }

    .banner-section {
        padding: 20px 0;
        background-size: 550px 450px;
    }

    .banner-title {
        font-size: 32px;
    }

    .banner-checkbox {
        margin: 50px 30px;
    }

    .banner-checkbox input,
    select {
        margin-bottom: 15px;
    }

    .popular-tours,
    .hotel-and-service,
    .newsletter-section,
    .bonus-section {
        flex-direction: column;
    }

    .popular-tours h2 {
        font-size: 25px;
    }

    .common-description {
        font-size: 16px;
    }

    .popular-tours-img,
    .newsletter-img {
        width: 350px;
    }

    .img-gallary,
    .img-gallary2,
    .img-gallary3>div {
        position: relative;
    }

    .img-gallary,
    .img-gallary2,
    .img-gallary3 {
        flex-direction: column;
        gap: 10px;
    }

    .img-name,
    .img-name2,
    .img-name3,
    .img-name5,
    .img-name6 {
        position: absolute;
        bottom: 100px;
        left: 126px;
    }

    .img-name4 {
        position: absolute;
        bottom: 100px;
        left: 126px;
    }

    .img-size {
        height: 200px;
    }

    .prise {
        margin: 10px 0;
    }

    .bonus-video {
        width: 350px;
    }

    .newsletter-img-section {
        position: relative;
    }

    .discount-btn {
        left: 143px;
        bottom: 37px;
        position: absolute;
    }

    .newsletter-input,
    .subscribe-btn {
        width: 300px;
        height: 52px;
    }

    footer {
        padding: 30px 20px;
    }


}